<div class="home">



<h1>Bienvenue cher moussaillon !</h1>

<p> :) </p>

<ul> 
	<% if user_signed_in? %> 

	<li>
		<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	</li>

	


	<% else %>
	

<p>Tu n'es pas connecté il faut d'abord que tu te connectes ou t'inscrives !</p>

	<li>
		<%= link_to "Sign in", new_user_session_path %>
	</li>


	<li>
		<%= link_to "Sign up", new_user_registration_path %>
	</li>

	<% end %> 

</ul> 




<div>
